on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: Create Tag/Release and Build Deployment

permissions:
  contents: write
  pull-requests: write

env:
  QT_VERSION: 6.10.1
  NAME: XFingerCrack

jobs:
  release:
    runs-on: ubuntu-22.04
    outputs:
      release_created: ${{ steps.create_release.outputs.release_created }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Release
        id: create_release
        uses: xaprier/actions-semver@latest
        with:
          draft: false
          prerelease: false
          include-letter-v: true
          token: ${{ secrets.GITHUB_TOKEN }}

  build-linux:
    needs: [release]
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        arch: [x86_64]
    if: needs.release.outputs.release_created == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install dependencies for build
        run: |
          sudo add-apt-repository universe
          sudo apt-get update
          sudo apt-get install -y cmake libfuse2 wget file
          sudo apt-get install -y qt6-tools-dev qt6-base-dev qt6-declarative-dev qt6-multimedia-dev qt6-tools-dev-tools qt6-l10n-tools libqt6charts6-dev libgl1-mesa-dev libgtest-dev libgmock-dev qmake6 qml6-module-qtquick qml6-module-qtquick-controls qml6-module-qtquick-window qml6-module-qtqml-workerscript qml6-module-qtquick-templates qml6-module-qtquick-layouts qml6-module-qtmultimedia qml6-module-qtcharts

      - name: Set up GCC Version 13 for C++20
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install -y g++-13
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 100

      - name: Configure Project
        run: |
          cmake . -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr

      - name: Build Project
        run: |
          make -j`nproc` install DESTDIR=AppDir

      - name: Install LinuxDeployQt
        run: |
          wget -c -nv https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage -O linuxdeployqt.AppImage
          chmod +x linuxdeployqt.AppImage

      - name: Build AppImage
        run: |
          export PATH=/usr/lib/qt6/bin:$PATH
          pwd
          ./linuxdeployqt.AppImage AppDir/usr/share/applications/${{ env.NAME }}.desktop -qmldir=./qml -appimage
        env:
          QMAKE: /usr/lib/qt6/bin/qmake6

      - name: Remove linuxdeployqt and rename AppImage
        run: |
          rm linuxdeployqt.AppImage
          APPIMAGE_FILE=$(ls | grep '\.AppImage$')
          mv $APPIMAGE_FILE ${{ env.NAME }}-${{ matrix.arch }}.AppImage

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./${{ env.NAME }}-${{ matrix.arch }}.AppImage
          asset_name: ${{ env.NAME }}-${{ matrix.arch }}.AppImage
          asset_content_type: application/octet-stream

  build-windows:
    needs: [release]
    runs-on: windows-2022
    if: needs.release.outputs.release_created == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Configure MSVC
      - name: Configure MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86_64

      # Install Qt
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.QT_VERSION }}
          arch: 'win64_msvc2022_64'
          modules: 'qtmultimedia qtcharts'
          install-deps: 'true'
          set-env: 'true'

      # Setup env
      - name: Setup env
        run: |
             qmake --version
             cmake --version
      
      - name: Run deploy.ps1 script
        shell: pwsh
        run: |
          .\deploy.ps1
        env:
          QT_VERSION: ${{ env.QT_VERSION }}
          NAME: ${{ env.NAME }}
          MSYSTEM: ${{ matrix.sys }}

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./build/install/Output/${{ env.NAME }}-x64-installer.exe
          asset_name: ${{ env.NAME }}-x64-installer.exe
          asset_content_type: application/x-msdownload
